/*---- RESET ----*/

* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0
}


html {
    font-size: calc(6px + 1vw);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #000000;
}

html body a {
    text-decoration: none;
    color: #000000;
}



/*---- TOPO ----*/

header {
    background-color: #F8F8F8;
}

header nav ul li.topo a {
    color: #868686;
}

header nav ul {
    display: flex;
    justify-content: right;
    margin: 0 5vw 0 0;
}

header nav ul li {
    padding: 2vw 2vw 0 2vw;
}

header nav ul li.stories {
    margin: 25px 43vw 0 0;
}

header nav ul li {
    margin: 25px 10px 0 10px;
}



/*---- PRIMEIRA SEÇÂO ----*/

main section.livro {
    background-color: #F8F8F8;
    display: flex;
}

main section.livro div {
    padding: 3vw 0vw 3vw 2.9vw;
    margin: 0 2vw 0 2vw;
}

main section.livro div img {
    padding: 2vw 0vw 0vw 0vw;
}

main section.livro h1 {
    font-size: 2.5rem;
    margin: 0 15px 0 0;
}

main section.livro p {
    font-size: 26px;
}

main section.livro h1 span {
    color: #47C183;
}

main section.livro button {
    color: white;
    font-size: 2vw;
    background-color: #000000;
    padding: 35px 60px 35px 60px;
}

main section.livro a {
    text-decoration: underline;
    margin: 0 0 0 6vw;
}



/*---- SEGUNDA SEÇÂO ----*/

section.point h2 {
    padding: 4vw 0vw 1vw 40vw;
}

section.point div {
    display: flex;
    padding: 3vw 5vw 0vw 5vw;
}

section.point div p {
    padding: 5vw 2vw 1vw 2vw;
}

section.point div p.cor {
    background-color: #F8F8F8;
}

section.point div img {
    padding: 1vw 1vw 1vw 1vw;
}

section.point div.cor img {
    background-color: #F8F8F8;
}

section.exp div#sla {
    border: 1px solid #F8F8F8;
}

section.exp h2 {
    padding: 4vw 0vw 0vw 36vw;
}

section.exp div {
    display: flex;
    margin: 5vw 10vw 8.5vw 10vw;
}

section.exp div p {
    background-color: #F8F8F8;
    padding: 2vw 2vw 2vw 2vw;
}

section.exp div img {
    padding: 0 0 0 2vw;
}

hr {
    border: none;
    height: 2px;
    background-color: #9E9B9B;
    margin: 0 10.5vw 4vw 10.5vw;
}



/*---- RODAPÉ ----*/

footer ol {
    display: flex;
    justify-content: center;
    margin: 0 0 5vw 0;
}

footer ol li.dono {
    padding: 0 1.5vw 0 1.5vw;
    color: #868686;
    text-decoration: underline;
}

footer ol li.dono a {
    color: #868686;
}

footer ol li.con {
    padding: 0 17vw 0 1vw;
}