/*==================
     CSS Reset
===================*/

* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0
}


/*==================
 Formatação geral
===================*/

html {
    font-size: calc(6px + 1vw);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html body a {
    text-decoration: none;
    color: black;
}

/*==================
Formatação da topo da página
===================*/
header {
    margin: 0 5vw  3vw 5vw;
}

header nav ul {
    display: flex;
    justify-content: right;
}

header nav ul li {
    margin: 2vw 10px 0 10px;
}

header nav ul li.atual a{color:  #6c05a8;}


/*==================
Formatação de conteúdo
===================*/

main.works {
     margin: 8vw 13vw 13vw 13vw;
     font-weight: 100;
     color: #21243d;
     text-align: left;
     justify-content: center;
     
}

main.works h1 {
    font-weight: normal;
    color: #21243d;
}

main.works section {
    border-bottom: 1px solid #e0e0e0;
    padding: 3vw 0vw 2vw 0vw;
}
main.works section:last-child{
    border: none;
}
main.works section p {
    margin: 1vw 0vw 2vw 0vw;
    justify-content: center;
} 

main.works section p span {
    color: white;
    background-color: #ff6464;
    border-radius: 35px;
    padding: 2px 5px 2px 5px;
    font-weight: bold;
}

/*==================
Formatação de home page
===================*/

section.banner {
 display:flex;
 margin:6vw 6vw 3vw 6vw ;
} 

section.banner h1 {
    font-size: 2rem;
}

section.banner p {
    margin: 2vw 0vw 2vw 0vw;
}

section.banner button {
    color: white;
    background-color: #ff6464;
    padding: 7px 19px 7px 19px;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 2px;
}

section.rt-post{
    background: #edf7fa;
    padding: 2vw 5px 2vw 5px;
    margin: 2vw 5vw 2vw 5vw;
}
section.rt-post h2 {
    font-weight: normal;
}
section.tr-post ul{
    display: flex;
}
section.rt-post ul li {
    background-color: #ffffff;
    padding: 1.5vw 0vw 1.5vw 0vw;
    margin: 0 2vw 0 0;
}

section.rt-post ul:last-child{
    margin: 0;
}

section.rt-post ul li h3 {
    margin: 2vw 4vw 2vw 0vw;
}
section.rt-post ul li p {
    margin: 1.5vw 0vw 1.5vw 0vw;
}
section.rtpost h2 {
    font-weight: 100;
    margin: 0 0 1.5vw 0;
}

/*==================
Formatação de rodapé
===================*/
footer {
    text-align: center;
    padding: 0 0vw 20vw 0;
}

footer nav ul {
    display: flex; 
    justify-content: center;
}
footer nav ul li {
    margin: 0px 35px 30px 30px;
    font-size: 2rem;
}

footer nav ul li a {
    color: #21243d;
}





    
